<form name="newWishForm" ng-submit="newWishForm.$valid && aC.addNewWish()" novalidate>
  <div>
    <label for="item">Image URL</label>
    <input class="item" id="image" type="url" ng-model="aC.newWish.image">
  </div>
  <div>
    <label for="item">Item</label>
    <input class="item" id="item" type="text" ng-model="aC.newWish.item" required>
  </div>
  <div>
    <label for="price">Price</label>
    <input class="price" id="price" type="currency" ng-model="aC.newWish.price">
  </div>
  <div>
    <label for="link">Link</label>
    <input class="link" id="link" type="text" ng-model="aC.newWish.link">
  </div>
  <div>
    <label for="category">Category</label>
    <input class="category" id="category" type="text" ng-model="aC.newWish.category">
  </div>
  <input type="submit" class="btn btn-success" value="Add-Wish" ng-show="newWishForm.$valid"/>
</form>
